<a href="https://colab.research.google.com/github/LakshmikanthGopi/Guvi-Assignment/blob/main/Assessment2B_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import scipy.stats as st
import statistics as s

import plotly.express as px

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [80]:
df1=pd.read_csv('/content/college_1.csv')
df1.head(10)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0
8,J.SUGANTHI,27.0,50.0,5860,5860,Electronics and Communication Engineering,0
9,thamizhpaana,29.0,0.0,5500,5500,Computer Science and Engineering,0

In [81]:
df1.shape

(84, 7)

In [82]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               84 non-null     object
 1   python             84 non-null     float64
 2   mysql              84 non-null     float64
 3   Previous Geekions  84 non-null     int64
 4   CodeKata Score     84 non-null     int64
 5   Department         84 non-null     object
 6   Rising             84 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.7+ KB

In [83]:
df2=pd.read_csv('/content/college_2.csv')
df2.head(10)

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,0
5,Poojitha Y,0,78,35,0,7210,8970,Computer Science and Engineering,1760
6,Gowtham Chandrasekaran,-1,0,0,3,7250,8950,Computer Science and Engineering,1700
7,Gowtham R,-1,60,4,6,8650,8650,Electronics and Communication Engineering,0
8,shifak N,58,0,0,0,5180,8320,Electronics and Electrical Engineering,3140
9,Balaji,-1,100,20,0,6170,8160,Electronics and Electrical Engineering,1990

In [84]:
df2.shape

(35, 9)

In [85]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    35 non-null     object
 1   python                  35 non-null     int64
 2   python_en               35 non-null     int64
 3   mysql                   35 non-null     int64
 4   computational_thinking  35 non-null     int64
 5   Previous Geekions       35 non-null     int64
 6   CodeKata Score          35 non-null     int64
 7   Department              35 non-null     object
 8   Rising                  35 non-null     int64
dtypes: int64(7), object(2)
memory usage: 2.6+ KB

In [86]:
#TO merge two DATAFRAMES

df = df1.append(df2)
df.head(10)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
8,J.SUGANTHI,27.0,50.0,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.0,5500,5500,Computer Science and Engineering,0,NaN,NaN

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 34
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    119 non-null    object
 1   python                  119 non-null    float64
 2   mysql                   119 non-null    float64
 3   Previous Geekions       119 non-null    int64
 4   CodeKata Score          119 non-null    int64
 5   Department              119 non-null    object
 6   Rising                  119 non-null    int64
 7   python_en               35 non-null     float64
 8   computational_thinking  35 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 9.3+ KB

In [88]:
df.isnull().sum()

Name                       0
python                     0
mysql                      0
Previous Geekions          0
CodeKata Score             0
Department                 0
Rising                     0
python_en                 84
computational_thinking    84
dtype: int64

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [89]:
dfee=df[df["CodeKata Score"]>15000]
dfee.head(10)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
0,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

In [90]:
dfee.to_csv('Exceeded expectations.csv')

In [91]:
dfre=df[(df["CodeKata Score"]>10000) & (df["CodeKata Score"]<15000)]
dfre.head(10)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
1,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
2,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
3,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

In [92]:
dfre.to_csv('Reached_expectations.csv')

In [93]:
dfni=df[(df["CodeKata Score"]>7000) & (df["CodeKata Score"]<10000)]
dfni.head(50)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
4,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
5,Poojitha Y,0.0,35.0,7210,8970,Computer Science and Engineering,1760,78.0,0.0
6,Gowtham Chandrasekaran,-1.0,0.0,7250,8950,Computer Science and Engineering,1700,0.0,3.0
7,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
8,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
9,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
10,Rushitha,-1.0,62.0,7470,8090,Computer Science and Engineering,620,15.0,9.0
11,Balaraman Muthupandi,-1.0,0.0,7670,8050,Computer Science and Engineering,380,9.0,0.0
12,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
13,SRIRAMKUMAR B,-1.0,0.0,6400,7940,Computer Science and Engineering,1540,0.0,0.0
14,Praneetha,-1.0,100.0,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
15,Rahul Raj K,-1.0,0.0,6280,7640,Computer Science and Engineering,1360,0.0,0.0
16,Guhan S,-1.0,35.0,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
17,Suryarajan S,-1.0,31.0,6710,7550,Computer Science and Engineering,840,63.0,0.0

In [94]:
dfni.to_csv('Needs_Improvement.csv')

In [95]:
dfus=df[df["CodeKata Score"]<7000]
dfus.head(10)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
13,RAGHAVAN,100.0,0.00,5120,5120,Computer Science and Engineering,0,NaN,NaN
14,Melvin Dukles.R,56.0,20.00,4800,4800,Electronics and Communication Engineering,0,NaN,NaN
15,Pavithra,100.0,100.00,4600,4600,Computer Science and Engineering,0,NaN,NaN
16,PRIYANKA .S,85.0,4.00,4510,4510,Computer Science and Engineering,0,NaN,NaN
17,v.vithyasri,100.0,12.00,4370,4370,Electronics and Communication Engineering,0,NaN,NaN

In [96]:
dfus.to_csv('Unsatisfactory.csv')

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [97]:
a=np.mean(df["Previous Geekions"])

b=np.mean(df["CodeKata Score"])

print("Average of previous week geekions - ",a)
print("Average of this week geekions - ",b)

Average of previous week geekions -  3842.3529411764707
Average of this week geekions -  4051.764705882353

###### No of students participated

In [98]:
c=df["Name"].count()
print("No of students participated =",c)

No of students participated = 119

###### #Average completion of python course or my_sql or python english or computational thinking

In [99]:
a1=np.mean(df["python"])
print("Average completion of python course=",a1)

dfpc=df[df["python"]==100]
d1=len(dfpc)
c=df["Name"].count()
av1=(d1/c)*100
print("Average completion rate of python course=",av1)
print("\n")

a2=np.mean(df["mysql"])
print("Average completion of mysql course=",a2)

dfsq=df[df["mysql"]==100]
d2=len(dfsq)
av2=(d2/c)*100
print("Average completion rate of mysql course=",av2)
print("\n")

a3=np.mean(df["python_en"])
print("Average completion of python_en course=",a3)

dfpe=df[df["python_en"]==100]
d3=len(dfpe)
av3=(d3/c)*100
print("Average completion rate of python_en course=",av3)
print("\n")

a3=np.mean(df["python_en"])
print("Average completion of python_en course=",a3)

dfct=df[df["computational_thinking"]==100]
d4=len(dfct)
av4=(d4/c)*100
print("Average completion rate of computational_thinking course=",av4)
print("No one has completed Computational_thinking course")

Average completion of python course= 54.35294117647059
Average completion rate of python course= 34.45378151260504


Average completion of mysql course= 23.5
Average completion rate of mysql course= 11.76470588235294


Average completion of python_en course= 29.65714285714286
Average completion rate of python_en course= 1.680672268907563


Average completion of python_en course= 29.65714285714286
Average completion rate of computational_thinking course= 0.0
No one has completed Computational_thinking course

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [100]:
df3=df[["Name","Previous Geekions","CodeKata Score"]]


df3["week_coins_differnce"]=df["CodeKata Score"] - df3["Previous Geekions"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
#rising star of the week

df3=df3.sort_values("week_coins_differnce", ascending=False)
print("Rising star of the week")
df3.head(3)

Rising star of the week

                 Name  Previous Geekions  CodeKata Score  week_coins_differnce
8            shifak N               5180            8320                  3140
18     Narasimhan Y L               4800            6800                  2000
2   Ganesh Ramkumar R               8790           10790                  2000

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [102]:
df4=df[["Name","CodeKata Score"]]

df4=df4.sort_values("CodeKata Score", ascending=False)
print("Shining stars of the week")
df4.head(3)

Shining stars of the week

          Name  CodeKata Score
0    A.Dharani           24500
1  V.JEEVITHA            21740
2  HEMAVATHI.R           19680

###### Department wise codekata performence (pie chart)

In [103]:
df['Department'].value_counts()

Computer Science and Engineering             63
Electronics and Communication Engineering    39
Electronics and Electrical Engineering       17
Name: Department, dtype: int64

In [104]:
fig=px.pie(df,values='CodeKata Score',names='Department',title='Department wise codekata performence')
fig

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [105]:
dept_grp=df.groupby(['Department']) 


df4=df4.sort_values("CodeKata Score", ascending=False)

In [106]:
csc=dept_grp.get_group("Computer Science and Engineering")

csc=csc.sort_values("CodeKata Score", ascending=False)
csc

fig1=px.bar(csc,x='Name',y='CodeKata Score',title="Computer Science Department Codekata Toppers")
fig1

In [107]:
ece=dept_grp.get_group("Electronics and Communication Engineering" )

ece=ece.sort_values("CodeKata Score", ascending=False)


fig2=px.bar(ece,x='Name',y='CodeKata Score',title="Electronics and Communication Engineering Department Codekata Toppers" )
fig2

In [108]:
eee=dept_grp.get_group("Electronics and Electrical Engineering")

eee=eee.sort_values("CodeKata Score", ascending=False)


fig3=px.bar(eee,x='Name',y='CodeKata Score',title="Electronics and Electrical Engineering Department Codekata Toppers")
fig3